body{
  font-family: sans-serif;
}

header{
  text-align: center;
}
form {
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 500px;
  float: left;
  margin: 30px;
  padding: 20px;
}

table{
  float: left;
  width: 60%;
  margin: 30px ;
}

ol{
  border: 1px solid #ffffff;
  margin-top: 20px;
  border-radius: 10px;
  background-color: rgb(248, 196, 196);
  list-style: none;
}

.form{
  list-style: none;
}

li{
  margin: 20px 0;
}

label{
  display: block;
}

input{
  padding: 5px;
  width: 400px;
}

.btn-register{
  text-align: center;
  background-color: rgb(27, 117, 117);
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  width: 100px;
  border-radius: 25px;
}
.btn-remove{
  background-color: rgb(162, 54, 54);
  border: none;
  color: white;
  text-align: center;
  width: 150px;
  padding: 10px 20px;
  border-radius: 25px;
}

button:hover,
button:focus{
  background: darkseagreen;
  cursor: pointer;
}

table{
  border-collapse: collapse;
}

th{
  min-width: 130px;
  padding: 5px 15px;
  border: 1px solid #ccc;
  background-color: rgb(27, 117, 117);
  color: #ffffff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
}

tbody , td{
  padding: 5px 15px;
  border: 1px solid #ccc;
  background-color: #ffffff;
}

img{
  min-width: 100px;
  max-width: 200px;
  height: auto;
}

